<%= form_for(@grantholding) do |f| %>
  <% if @grantholding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grantholding.errors.count, "error") %> prohibited this grantholding from being saved:</h2>

      <ul>
      <% @grantholding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Grant: <br>
  <%= f.collection_select :grant_id, @grants, :id, :name, {class: "form-control"} %>
  <%= f.submit "Add grant", class: "btn btn-default" %>
<% end %>
