<%= form_for(@grantholding) do |f| %>
  <% if @grantholding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grantholding.errors.count, "error") %> prohibited this grantholding from being saved:</h2>
      <ul>
      <% @grantholding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.collection_select :grant_id, @grants, :id, :name %><br>

  <%= f.label :required_hours, "Required hours" %>
  <%= f.text_field :required_hours, placeholder: "#{f.object.required_hours}" %>

  <%= f.submit "Cancel", class: "btn btn-default" %>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>