<p id="notice"><%= notice %></p>

<h2>My Grants</h2>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Grant</th>
      <th>Time Requirements</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @grantholdings.each do |grantholding| %>
      <tr>
        <td><%= grantholding.grant.name %></td>
        <td><%= format_duration grantholding.required_hours %></td>
        <td><%= link_to 'View', user_grantholding_path(@user, grantholding) %></td>
        <% if current_user.admin? || current_user?(@user) %>
          <td><%= link_to 'Edit', edit_user_grantholding_path(@user, grantholding) %></td>
          <td>
            <% msg = "Are you sure? Removing this grant will permanently" %>
            <% msg += " delete all of your time information associated" %>
            <% msg += " with it." %>
            <%= 
                link_to 'Remove', user_grantholding_path(@user, grantholding), 
                method: :delete, data: { confirm: msg }
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>