<p id="notice"><%= notice %></p>

<h1>My Grants</h1>

<table>
  <colgroup>
    <col span="1", style="width: 25%;">
    <col span="1", style="width: 25%;">
  </colgroup>
  <tr>
    <th>Grant</th>
    <th>Required hours</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  <%#= TODO: how much access will supervisors/admin have to this page? EG removing/editing user grantholdings. %>
  <% @grantholdings.each do |grantholding| %>
    <tr>
      <td><%= grantholding.grant.name %></td>
      <td><%= format_duration grantholding.required_hours %></td>
      <td><%= link_to 'View', user_grantholding_path(@user, grantholding) %></td>
      <td><%= link_to 'Edit', edit_user_grantholding_path(@user, grantholding) %></td>
      <td>
        <% msg = "Are you sure? Removing this grant will permanently" %>
        <% msg += " delete all of your time information associated" %>
        <% msg += " with it." %>
        <%= 
            link_to 'Remove', user_grantholding_path(@user, grantholding), 
            method: :delete, data: { confirm: msg }
        %>
      </td>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to 'Add Grant', new_user_grantholding_path(@user) %>