<p id="notice"><%= notice %></p>

<p>
  <strong>Grant:</strong>
  <%= @grantholding.grant %>
</p>

<p>
  <strong>User:</strong>
  <%= @grantholding.user %>
</p>

<%= link_to 'Edit', edit_grantholding_path(@grantholding) %> |
<%= link_to 'Back', grantholdings_path %>
