<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grantholding.grant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grantholding.grant.comments %>
</p>

<%= 
	link_to 'Edit my grant info', 
	edit_user_grantholding_path(@user, @grantholding) 
%> | 
<%= link_to 'Back', user_grantholdings_path(@user) %>