<fieldset>
  <legend><%= "Timelogs for #{date}" %></legend>
</fieldset>

<% for timelog in timelogs_on_day %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= day_display timelog.start_time %></h3>
      <% if current_user?(user) || current_user.admin? %>
	      <h3 class="panel-title right-heading">
	        (<%= link_to 'Delete', user_timelog_path(user_id: user.id, id: timelog.id), method: :delete, data: { confirm: 'Are you sure?' } %>)
	      </h3>
	    <% end %>
    </div>
    <div class="panel-body blurb-text">
    	<p class="user-blurb">Start: <%= time_display timelog.start_time %></p>
    	<p class="user-blurb">End: <%= time_display timelog.end_time %></p>
    	<p class="user-blurb">
    		Total time: <%= format_duration timelog.total_time(hours=true) %>
    	</p> 
    	<p class="user-blurb">Comments: <%= timelog.comments %></p>
    	<p class="user-blurb">
    		Time to grants:
    		<ul>
    			<% for allocation in timelog.time_allocations %>
							<li>
								<%= allocation.grantholding.grant.name %>: 
								<%= User.duration_to_hours_display(allocation.hours) %>
							</li>
							<li>Work description: <%= allocation.comments %></li>
					<% end %>
				</ul>
			</p>
		</div>
	</div>
<% end %><br>

<%= link_to "Back to #{user.first_name}'s Timelogs", user_timelogs_path(user_id: user.id) %>