<div class="form-group">
  <%= f.label :start_time, class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.datetime_select :start_time, class: 'form-control', value: timelog.start_time %>
  </div>
</div>

<div class="form-group">
  <%= f.label :end_time, class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.datetime_select :end_time, class: 'form-control', value: timelog.end_time %>
  </div>
</div>


<!-- <div class="form-group">
  <%= f.label "General comments", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_area :comments, class: 'form-control', rows: 3, placeholder: "Comments" %>
  </div>
</div> -->