<% provide(:title, 'New Timelog') %>

<h1>New Timelog</h1>

<%= form_for(@timelog) do |f| %>
	
	<%= render partial: 'form_errors', locals: { timelog: @timelog } %>
	
  <div class="field">
    <%= f.label :start_time  %> (example: 8:54 AM, 8-24-2015) <br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %> (example: 5:15 PM, 8-24-2015) ><br>
    <%= f.text_field :end_time %>
  </div>

  <h2>Hours worked under grants:</h2>
  <% f.fields_for @timelog.time_allocations do |time_allocation| %>
    <%= render 'time_allocation_field', t: time_allocation %>
  <% end %>

  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>  
  <div class="actions">
    <%= f.submit "Cancel" %>
		<%= f.submit "Submit" %>
  </div>
	
<% end %>