<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Date</th>

      <!-- Populate columns with all user's grantholdings -->
      <% for grantholding in grantholdings %>
      	<th><%= grantholding.grant.name %></th>
      <% end %>

      <th>Not grant-related</th>

      <th colspan='3'>Work description</th>
      
      <th>Total time</th>
    </tr>
  </thead>

  <tbody>
  	<tr class="info">
  		<td>Totals</td>
  		<% for grantholding in grantholdings %>
  			<td>
  				<%= 
            format_duration(
              grantholding.hours_worked_from(start_date_table, end_date_table)
            ) 
          %>
  			</td>
  		<% end %>
  		<td>
        <%= 
          format_duration(
            user.unallocated_time_from(start_date_table, end_date_table)
          ) 
        %>
      </td>
  		<td colspan='3'></td>
  		<td>
        <%= 
          format_duration(
            user.total_hours_worked(start_date_table, end_date_table)
          ) 
        %>
      </td>
  	<tr>

    <% for day in days %>
    	<% day_start = day.beginning_of_day %>
    	<% day_end   = day.end_of_day %>
      <tr>
        <td><%= day %></td>
        <% for grantholding in grantholdings %>
        	<td>
            <%= 
              format_duration(
                grantholding.hours_worked_from(day_start, day_end)
              )
            %>
          </td>
        <% end %>
        <td>
          <%= 
            format_duration(
              user.unallocated_time_from(day_start, day_end)
            ) 
          %>
        </td>
        <td colspan='3'>
          <%= concatenate_descriptions(grantholding, day_start, day_end) %>
        </td>
        <td>
          <%= 
            format_duration(user.total_hours_worked(day_start, day_end)) 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>