<%= f.fields_for :grantholdings do |ff| %>

	<p><b><%= "#{ff.object.grant.name}" %></b></p>

	<div class="form-group">
		<%= 
			ff.label :required_hours, "Hours required", 
			class: "col-lg-2 control-label" 
		%>
		<div class="col-lg-10">
			<%= 
				ff.text_field :required_hours, 
				class: 'form-control', 
				placeholder: (ff.object.required_hours || "Hours required") 
			%><br>
			<%= 
				ff.check_box :_destroy 
			%> Remove grant
		</div>
	</div>
	<br>
<% end %>