<div class="user-blurb">
<!-- 	<ul>

		<li>
			<%= link_to gravatar_for(user), user_path(user) %>
		</li>

		<li>
			<%= full_name user %>
		</li>

		<li>
			<%= user.position %>
			<%= "admin" if user.admin? %>
		</li>

		<li>
			<%= user.organization.name unless index %>
		</li>

	</ul> -->
</div>