<% provide(:title, 'Sign up') %>

<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
	<% if @user.errors.any? %>
		<%= render partial: 'shared/error_messages', object: @user %>
	<% end %>

	<fieldset>
    <legend>Your information</legend>

    <%= render partial: 'user_fields', locals: { f: f } %>
		
		<div class="form-group">
			<%= f.label "Choose your password", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.password_field :password, class: 'form-control', placeholder: "Password (must be greater than six characters)" %>
			</div>
		</div>	

		<div class="form-group">
			<%= f.label "Confirm your password", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Your organization", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.collection_select(:organization_id, Organization.all, :id, :name, { prompt: true }, { class: 'form-control'} ) %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Organization keyword", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.password_field :organization_password, class: 'form-control', placeholder: "Keyword" %>
			</div>
		</div>

		<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Cancel", class: "btn btn-default" %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
	</fieldset>
<% end %>