<% provide(:title, 'Home') %>

<div class="row">
	<div class="col-md-6">
		
		<section class="user_info">
			<%= 
				render partial: 'user_info', 
				locals: { user: @user } 
			%>
		</section>
		
		<section>
			<h2><%= "#{@user.first_name}'s grants:" %></h2>
			<%= form_tag(grants_fulfillments_table_path, remote: true do %>
				<%= select_tag(:since_date, 
							options_for_select([
								['Last Monday', date_of_last("Monday", previous: false) ],
								['Monday before last', date_of_last("Monday", previous: true)],
								['The first of this month', first_of_month]
							],
						)
					)
				%>
			<% end %>
			<div id="grants-fulfillments">
				<ul>
				<% @user.grantholdings.each do |g| %>
					<%= 
						render partial: 'grantholding', 
						locals: { g: g, since_date: since_date } 
					%>
				<% end %>
				</ul>
			</div>
		</section>
		
		<section>
			<%= 
				render partial: 'timelog_feed_selectors', 
				locals: { user: @user } 
			%>
			<%= 
				render partial: 'timelog_feed', 
				locals: { user: @user } 
			%>
		</section>
		
	</div>
</div>