<% provide(:title, 'Home') %>

<div class="row">
	<div class="col-md-6">
		
		<section class="user_info">
			<%= 
				render partial: 'user_info', 
				locals: { user: @user } 
			%>
		</section>
		
		<section>
			<%= 
				render partial: 'timelog_feed_selectors', 
				locals: { user: @user } 
			%>
			<%= 
				render partial: 'timelog_feed', 
				locals: { user: @user } 
			%>			
		</section>
		
		<section>
			<h3>View grant fulfillments since:</h3>
			<%= form_tag(users_grants_fulfillments_table_path) do %>
				<%= select_tag(:since_date, 
							options_for_select(
							[
								['Last Monday', date_of_last("Monday", previous: false) ],
								['Monday before last', date_of_last("Monday", previous: true)],
								['The first of this month', first_of_month]
							]
						)
					)
				%>
			<% end %><br>

			<ul>
			<%= render partial: 'users/grantholding', collection: @grantholdings %>
			</ul>

		</section>
		
	</div>
</div>