<div class="panel panel-default">
  <div class="panel-body">
		<div class="user-blurb">
			<div class="user-gravatar">
				<p><%= gravatar_for(user, size=120) %></p>
				<% if current_user?(user) %>
					<p><%= link_to 'Edit image', 'http://en.gravatar.com/', target: '_blank' %></p>
				<% end %>
			</div>
			<div class="against-image">
				<p><b><%= full_name user %></b></p>
				<p><%= user.position %><% if user.admin? %> (&#x2606; Admin) <% end %></p> 
				<p><%= user.organization.name unless index %></p>
				<% if supervision_status(user) == "Supervisor" %>
					<p class="text-info">
				<% elsif supervision_status(user) == "Supervisee" %>
					<p class="text-success">
				<% else %>
					<p>
				<% end %>
				<b><%= supervision_status(user) %></b></p>
			</div>
			<div class="view-records-button">
  			<% if user.has_supervisees? && (current_user?(user) || current_user.admin?) %>
					<div class="btn-group">
					  <a href="#" class="btn btn-primary">View Timelogs</a>
					  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	<li><%= link_to "Me", user_timelogs_path(user_id: user.id) %></li>
					  	<li class="divider"></li>
					  	<li class="dropdown-header">Supervisees</li>
					  	<% for supervisee in current_user.supervisees %> 
					    	<li>
					    		<%= 
					    			link_to "#{full_name supervisee}", 
					    			user_timelogs_path(user_id: supervisee.id) 
					    		%>
					    	</li>
					    <% end %>
					  </ul>
					</div>
				<% elsif current_user.supervises?(user) || current_user?(user) || current_user.admin? %>
					<%= link_to "View Timelogs", user_timelogs_path(user_id: user.id), class: "btn btn-primary" %>
				<% end %>
    	</div>
		</div>
	</div>
</div>