<div class="panel panel-default">
  <div class="panel-body">
		<div class="user-blurb", id="user-blurb">

			<div class="user-gravatar">
				<p><%= gravatar_for(user, size=120) %></p>				
				<% if current_user?(user) %>
					<p><%= link_to 'Edit image', 'http://en.gravatar.com/', target: '_blank' %></p>
				<% end %>
			</div>

			<div class="against-image">
				<p class="user-blurb"><b><%= full_name user %></b></p>
				<p class="user-blurb"><%= user.position %><% if user.admin? %> (&#x2606; Admin) <% end %></p> 
				<p class="user-blurb"><%= user.email %></p>
				<p class="user-blurb"><%= user.organization.name unless index %></p>
				<% if supervision_status(user) == "Supervisor" %>
					<p class="user-blurb text-info">
				<% elsif supervision_status(user) == "Supervisee" %>
					<p class="user-blurb text-success">
				<% else %>
					<p>
				<% end %>
				<b><%= supervision_status(user) %></b></p>
			</div>

			<br>

			<div class="btn-group">
				<% if user.has_supervisees? && (current_user?(user) || current_user.admin?) %>
				  <a href="#" class="btn btn-primary">View Timelogs</a>
				  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				  <ul class="dropdown-menu">
				  	<li><%= link_to "#{full_name user}", user_timelogs_path(user_id: user.id) %></li>
				  	<li class="divider"></li>
				  	<li class="dropdown-header">Supervisees</li>
				  	<% for supervisee in user.supervisees %> 
				    	<li>
				    		<%= 
				    			link_to "#{full_name supervisee}", 
				    			user_timelogs_path(user_id: supervisee.id) 
				    		%>
				    	</li>
				    <% end %>
				  </ul>
				<% elsif current_user.supervises?(user) || current_user?(user) || current_user.admin? %>
					<%= link_to "View Timelogs", user_timelogs_path(user_id: user.id), class: "btn btn-primary" %>
				<% end %>
			</div>

    	<% if index %>
    		<div class="btn-group">
    			<% if !(current_user.supervises?(user) || user.supervises?(current_user)) || current_user?(user) %>
    				<%= link_to "Add user as supervisor", user_supervisions_path(user_id: current_user.id, supervisor_id: user.id), method: :post, class: "btn btn-default", data: {confirm: "Are you sure you want to add #{full_name(user, last_first=false)} as your supervisor?"} %>
    			<% elsif user.supervises?(current_user) %>
    				<%= link_to "Remove user as supervisor", user_supervision_path(user_id: current_user.id, id: user.id), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure you want to remove #{full_name(user, last_first=false)} as your supervisor?"} %>
    			<% elsif current_user.supervises?(user) %>
    				<%= link_to "Stop supervising user", user_supervision_path(user_id: current_user.id, id: user.id), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to remove #{full_name(user, last_first=false)} as your supervisee?"} %>
    			<% end %>
    		</div>
    	<% end %>
		</div>
	</div>
</div>