<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timesheet.user %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @timesheet.comments %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timesheet.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @timesheet.end_time %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
