<% provide(:title, 'Reset organization keyword') %>
<h1>Reset organization keyword</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@organization, url: keyword_reset_path(@reset)) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @admin.email %>

      <%= f.label :password, "New keyword" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm new keyword" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update keyword", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>