<% provide(:title, "Reset #{@admin.organization.name}'s keyword") %>

<%= form_for(@organization, html: { class: 'form-horizontal' }, url: keyword_reset_path(@reset)) do |f| %>

  <fieldset>
    <legend><%= "Reset #{@admin.organization.name}'s keyword" %></legend>

    <%= hidden_field_tag :email, @admin.email %>

      <div class="form-group">
        <%= f.label :password, "New keyword", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.password_field :password, class: 'form-control', placeholder: "New keyword" %>
        </div>
      </div>

      <br>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm keyword", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm keyword" %>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Reset keyword", class: "btn btn-primary", data: { confirm: "This will reset the keyword across your organization. New users will need the new keyword to sign up for Timelogger." } %>
        </div>
      </div>

  </fieldset>
<% end %>