<% provide(:title, "Reset organization keyword") %>
<h2>Reset <%= "#{current_user.organization.name}'s" %> keyword</h2>

<br>

<%= form_for(:keyword_reset, url: keyword_resets_path) do |f| %>

	<div class="form-group">
		<%= f.label :email, class: "col-lg-2 control-label" %>
		<div class="col-lg-10">
			<%= 
				f.email_field :email, 
				class: 'form-control', placeholder: "Email"
			%>
		</div>
	</div>

	<br><br>

	<div class="form-group">
	  <div class="col-lg-10 col-lg-offset-2">
	    <%= link_to "Cancel", organization_path(current_user.organization), class: "btn btn-default" %>
	    <%= f.submit "Submit", class: "btn btn-primary" %>
	  </div>
	</div>

<% end %>