<h2><%= @organization.name %> Grants</h2>

<%= link_to "(+) Add grant", new_grant_path %>

<br><br>

<% for grant in @grants %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= grant.name %></h3>
      <h3 class="panel-title right-heading">
        (<%= link_to 'Edit', edit_grant_path(grant) %> | 
        <%= link_to 'Delete', grant, method: :delete, data: { confirm: 'Are you sure? This will delete the grant across your organization.' } %>)
      </h3>
    </div>
    <div class="panel-body blurb-text">
      <%= grant.comments %>
    </div>
  </div>  
<% end %>