<% provide(:title, 'Add grant') %>

<%= form_for @grant, html: { class: 'form-horizontal' } do |f| %>
	<% if @grant.errors.any? %>
		<%= render partial: 'shared/error_messages', locals: {object: @grant} %>
	<% end %>

	<fieldset>
    <legend>Add grant</legend>

    <div class="form-group">
			<%= f.label :name, "Grant name", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.text_field :name, class: 'form-control', placeholder: "Grant name" %>
			</div>
		</div>

    <div class="form-group">
			<%= f.label :comments, "Description", class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= f.text_area :comments, class: 'form-control', rows: 3, placeholder: "Description" %>
			</div>
		</div>

		<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Cancel", class: "btn btn-default" %>
        <%= f.submit "Add grant", class: "btn btn-primary" %>
      </div>
    </div>
	</fieldset>
<% end %>