<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grant.comments %>
</p>

<%= link_to 'Edit my grant info', edit_grantholding_path(@grant) %> |
<%= link_to 'Back', grants_path %>
