<p id="notice"><%= notice %></p>

<h1>Listing Time Allocations</h1>

<table>
  <thead>
    <tr>
      <th>Grantholding</th>
      <th>Timesheet</th>
      <th>Hours</th>
      <th>Date</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_allocations.each do |time_allocation| %>
      <tr>
        <td><%= time_allocation.grantholding %></td>
        <td><%= time_allocation.timesheet %></td>
        <td><%= time_allocation.hours %></td>
        <td><%= time_allocation.date %></td>
        <td><%= time_allocation.comments %></td>
        <td><%= link_to 'Show', time_allocation %></td>
        <td><%= link_to 'Edit', edit_time_allocation_path(time_allocation) %></td>
        <td><%= link_to 'Destroy', time_allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time allocation', new_time_allocation_path %>
