<p id="notice"><%= notice %></p>

<p>
  <strong>Grantholding:</strong>
  <%= @time_allocation.grantholding %>
</p>

<p>
  <strong>Timelog:</strong>
  <%= @time_allocation.timelog %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @time_allocation.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_allocation.date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @time_allocation.comments %>
</p>

<%= link_to 'Edit', edit_time_allocation_path(@time_allocation) %> |
<%= link_to 'Back', time_allocations_path %>
