<% provide(:title, 'Enroll organization') %>

<%= form_for(@organization, html: { class: 'form-horizontal' }) do |f| %>

	<% if @organization.errors.any? %>
    <%= render partial: 'shared/error_messages', locals: { object: @organization } %>
  <% end %>

  <fieldset>
		<fieldset>
	    <legend>Your organization's info</legend>
			<%= render partial: 'organization_fields', locals: { f: f } %>
		</fieldset>

		<fieldset>
			<legend>Your info</legend>
			<%= f.fields_for :users do |ff| %>
				<%= render partial: 'admin_fields', locals: { f: ff } %>
			<% end %>
		</fieldset>		
					
		<div class="form-group">
	    <div class="col-lg-10 col-lg-offset-2">
	      <%= link_to "Cancel", root_path, class: "btn btn-default" %>
	      <%= f.submit "Enroll", class: "btn btn-primary" %>
	    </div>
	  </div>
	</fieldset>
<% end %>