<% provide(:title, "Supervisees") %>

<%# Flash handler %> 
<p id="notice"><%= notice %></p>

<h1>My supervisees</h1>

<% @supervisions.each do |supervision| %>
	<% supervisee = supervision.supervisee %>
	<%= 
			render partial: "shared/user_blurb", 
			locals: { user: supervisee, index: @index } 
	%>
	<br>
	<%= link_to "User info", user_path(supervisee.id) %>
	<br>
	<%= link_to "View timelogs", timelogs_path(supervisee.id) %>
	<br>
	<%= 
			link_to "Stop supervising", supervision_path(supervision.id),
			method: :delete, 
			prompt: "Are you sure you want to end this supervision?" 
	%><br>
<% end %>

<%= link_to "All users", users_path %>