<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "TIMELOGGER", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">      
			<% unless logged_in? %>
				<ul class="nav navbar-nav">
        	<li>
        		<%= link_to login_path, class: 'active' do %>
        			Log in <span class="sr-only">(current)</span>
        		<% end %>
        	</li>
        </ul>
      <% else %>
				<ul class="nav navbar-nav">
	        <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "My Timelogs", user_timelogs_path(current_user) %></li>
	        <li><%= link_to "Co-Workers", users_path %></li>
          <li><%= link_to "Edit my info", edit_user_path(current_user) %></li>

          <% if current_user.admin? %>
        		<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Console <span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			<li class="dropdown-header">Edit Organization</li>
          			<li><%= link_to "Organization info", edit_organization_path(current_user.organization) %></li>
            		<li><%= link_to "Grants list", grants_path %></li>
            		<li role="separator" class="divider"></li>
            		<li class="dropdown-header">Edit Users</li>
          			<li><%= link_to "Make user an admin", make_admin_path %></li>
			      		<li><%= link_to "Remove user", delete_user_path %></li>
			      		<li role="separator" class="divider"></li>
            		<li><%= link_to "Help", admin_help_path %></li>
            	</ul>
            </li>
          <% end %>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
				</ul>
		  <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "&copy; 2015 Dan Wichman-Buescher".html_safe, 'https://www.linkedin.com/pub/daniel-wichman-buescher/38/3a7/539', target: '_blank' %></li>
      </ul>
    </div>
  </div>
</nav>