<!DOCTYPE html>
<html>
	<head>
	  <title>
			<%= full_title(yield(:title)) %>
		</title>
	  <%= stylesheet_link_tag 'application', 
				media: 'all', 
				'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 
			  'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' 
					rel='stylesheet' 
					type='text/css'>
		<%= render 'layouts/shim' %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/flash_handler' %>
		<% if logged_in? %>
			<%= render 'layouts/sidebar' %>
		<% end %>			
		<div class="yield container col-md-9 col-md-offset-3">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
