<!DOCTYPE html>
<html>
	<head>
	  <title>
			<%= full_title(yield(:title)) %>
		</title>
	  <%= stylesheet_link_tag 'application', 
				media: 'all', 
				'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 
			  'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' 
					rel='stylesheet' 
					type='text/css'>
		<%= render 'layouts/shim' %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<div class="row">
				<%= render 'layouts/flash_handler' %>
				<% if logged_in? %>
					<div class="col-md-3">
						<%= render 'layouts/sidebar' %>
					</div>
					<div class="col-md-6">	
						<%= yield %>
					</div>
				<% else %>
					<div class="col-md-12">
						<%= yield %>
					</div>
				<% end %>
			</div>
		</div>		
	</body>
</html>